{% extends 'AppBundle::base.html.twig' %}
{% block content %}
    <div>
        <ol class="breadcrumb">
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li class="active">ThemeDuJeu</li>
        </ol>
        <div>
            <div class="alert alert-info" role="alert">
                <h2>Quel thème de jeu voulez-vous choisir ???</h2>
            </div>
            {#            changer ce qui suit en fonction de la base de donnée theme#}
            <ul class="nav nav-pills nav-justified navbar-btn">
                {#                for each theme dans themes#}
                <a href="{{path('game_create')}}"><button type="button" class="btn btn-default navbar-btn">Programmation Web</button></a>
            </ul>
        </div>
    </div>
{% endblock %}