{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div id="questions" class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">La Question</div>
                <div class="panel-body">
                    Omitto iuris dictionem in libera civitate contra leges senatusque consulta; caedes relinquo; libidines praetereo, quarum acerbissimum extat indicium et ad insignem memoriam turpitudinis et paene ad iustum odium imperii nostri, quod constat nobilissimas virgines se in puteos abiecisse et morte voluntaria necessariam turpitudinem depulisse. Nec haec idcirco omitto, quod non gravissima sint, sed quia nunc sine teste dico.
                </div>
            </div>
        </div>
        <div id="plateau" class="col-md-6" >
            {# Creation of the view board with the corresponding number inside#}
            <table class="table table-bordered" >
                <tr>
                    {% for value in board.cells %}
                        {% if loop.index0 % 8 == 0 and loop.index0 != 0 %}
                        </tr><tr>
                        {% endif %}
                        <td class="column" id='{{value.num}}'>
                            <div class="numCell">
                                {{ value.num }}
                            </div>
                            <div>
                                {% for pawn in value.pawns %}
                                    <span class="glyphicon glyphicon-user" style="color:{{pawn.pawnColor}}"></span>
                                    <span class="glyphicon glyphicon-user" style="color:green"></span>

                                    <span class="glyphicon glyphicon-user" style="color:red"></span>

                                {% endfor %}
                            </div>

                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div id="reponses" class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Commentaires</div>
                <div class="panel-body">
                    <p id="question">A toi de jouer Toto !</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="partie" class="col-md-3">
            <h4>Partie de Bruno</h4>
        </div>
        <div id="joueurs" class="col-md-6">
            <h3>Joueurs</h3>
        </div>
        <div id="de" class="col-md-3">
            <h4>Le Dé</h4>
        </div>

    </div>

{% endblock %}
