{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-2"><h1>La Question</h1></div>
        <div class="col-md-8"><h1>Le Plateau du Jeu</h1></div>
        <div class="col-md-2"><h1>Les 3 Réponses</h1></div>

    </div>
    <div class="row">
        <div class="col-md-2"><h1>Les Commentaires du Jeu</h1></div>
        <div class="col-md-8"><h1>L'Emplacement des Joueurs</h1></div>
        <div class="col-md-2"><h1>Le Dé et Le Score du Dé</h1></div>

    </div>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
