{% extends 'AppBundle::base.html.twig' %}
{% block content %}
    <div class="row">
        <div id="creation" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Le Quizz de l'Oie</div>
                <div class="panel-body">
                    <p>Iis igitur est difficilius satis facere, qui se Latina scripta
                        dicunt contemnere. in quibus hoc primum est in quo admirer,
                        cur in gravissimis rebus non delectet eos sermo patrius,
                        cum idem fabellas Latinas ad verbum e Graecis expressas
                        non inviti legant. quis enim tam inimicus paene nomini
                        Romano est, qui Ennii Medeam aut Antiopam Pacuvii
                        spernat aut reiciat, quod se isdem Euripidis fabulis
                        delectari dicat, Latinas litteras oderit?
                    </p>
                    <img id="logo" src="{{ asset('images/jeu_de_l_oie.png')}}" alt="logo" title="jeu_de_l_oie_1" />
                    <p>Iis igitur est difficilius satis facere, qui se Latina scripta
                        dicunt contemnere. in quibus hoc primum est in quo admirer,
                        cur in gravissimis rebus non delectet eos sermo patrius,
                        cum idem fabellas Latinas ad verbum e Graecis expressas
                        non inviti legant. quis enim tam inimicus paene nomini
                        Romano est, qui Ennii Medeam aut Antiopam Pacuvii
                        spernat aut reiciat, quod se isdem Euripidis fabulis
                        delectari dicat, Latinas litteras oderit?
                    </p>
                    <img id="logo" src="{{ asset('images/jeu_de_l_oie_2.jpg')}}" alt="logo" title="jeu_de_l_oie_2" />


                </div>
            </div>
        </div>
    </div>
{% endblock %}{# empty Twig template #}
